body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(26, 25, 25) 0%, rgba(31,29,30,1) 100%);
    flex-direction: column;
}
header {
    display: inline-flex;  
    position: fixed;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(to top, rgb(128, 1, 1, 0.9), rgb(36, 0, 0,0.9));    
    color: black;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.703);
    border-radius:  0px 0px 10px 10px;
    transition-duration: 0.1s ;

    & > .container1 > a {
        display: flex;
        padding-left: 2rem;
        justify-content: center;
        height: 10vh;
        align-items: center;
        flex-direction: row;
        text-decoration: none;

            & > h4{
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                color: rgb(225, 222, 222);
                padding-top: 10px;
            }

            & > img{
                display: flex;
                justify-content: center;
                height: 9vh;
                rotate: -15deg;
            }
        }
        
    &:hover{
        height: 11vh;
        box-shadow: 1px 1px 10px red;

        & > .container1 > a{
            display: flex;
            padding-left: 2rem;
            justify-content: center;
            height: 12vh;  
        }
    }
    & > .button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-direction: row;
        padding-right: 10rem;
        
        & > a:nth-child(1) > button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            width: 9rem;
            border-radius: 5px;

            &:hover{
                box-shadow: 2px 2px 5px whitesmoke;
            }  
        }

        & > a:nth-child(2) > button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6rem;

            &:hover{
                border-bottom: 2px solid red;
            }
        }

        & > a {
            text-decoration: none;

            & > button{
                display: flex;
                border: none;
                color: white;
                font-family: "Playwrite DE VA", cursive;
                font-size: 12px;
                font-weight: 600;
                width: 8rem;
                height: 2.2rem;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: transparent;

                & > i{
                    color: whitesmoke;
                    font-size: 20px;
                }
            }
        }
    }
}

.section1{
    display: flex;
    flex-direction: row;
    height: 96vh;
    width: 100%;
    justify-content: center;
    align-items: center;
   
    & > .section-left{
        display: flex;
        width: 35%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 2.5rem;

        & > img{
            display: flex;
            height: 80vh;
        }
    }

    & > .section-right{
        display: flex;
        width: 65%;
        height: 70%;
        color: white;
        flex-direction: row;
        gap: 1rem;
        padding-top: 3rem;
        
        & > .ticket{
            display: flex;
            width: 65%;
            height: 35vh;
            justify-content: center;
            align-items: center;
            color: black;
            flex-direction: row;
            box-shadow: 1px 1px 7px whitesmoke;

            & > .left{
                display: flex;
                height: 100%;
                width: 40%;
                flex-direction: column;
                justify-content: center;
                gap: 5rem;
                background-color: rgb(133, 2, 2);
            }
           
            & > .right{
                display: flex;
                height: 100%;
                width: 60%;
                flex-direction: column;
                gap: 2rem;
                padding: 10px;
                justify-content: center;
                color: rgb(255, 255, 255);

                & > .container1{
                    display: flex;
                    flex-direction: row;
                    height: 10vh;
                    padding-top: 15px;
                    justify-content: space-around;

                    & > .title{
                        
                        & > h2{
                            font-weight: 900;
                            font-size: 20px;
                        }
                        
                        & > p{
                            font-size: 12px;
                        }
                    }

                    & > .star{
                        display: flex;
                        gap: 10px;
                        padding-top: 6px;
                        color: yellow;
                    }
                }
                
                & > .container2{
                    display: flex;
                    flex-direction: column;
                    height: 25vh;
                    
                    & > .top {
                        display: flex;
                        flex-direction: row ;
                        justify-content: space-evenly;
                        height: 15vh;
                        
                        & > .price{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: 1rem;
                        }

                        & > .availability{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: 1rem;
                        }

                        & > .seats{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: 1rem;
                            
                        }
                    }

                    & > .bottom{
                        display: flex;
                        justify-content: end;
                        height: 5vh;
                        padding-right: 1rem;
                        border-top: 1px solid whitesmoke;
                        padding-top: 8px;

                        & > b{
                            font-size: 14px;
                        }

                        & > p{
                            font-size: 800;
                            font-size: 14px;
                            font-weight: 400;
                        }

                    }
                }
            }
        }

        & > .No-of-seats{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 40%;
            height: 100%;
            flex-direction: column;

            & > h3{
                font-weight: 900;
                font-size: 20px;
            }

            & > .holder{
                display: flex;
                height: 28%;
                width: 60%;
                background-color: rgba(128, 128, 128, 0.154);
                flex-direction: column;
                border-radius: 20px;
                align-items: center;
                justify-content: center;
                box-shadow: 1px 1px 10px rgba(246, 246, 246, 0.691);
                margin-top: 5px;
                
                & > img{
                    display: flex;
                    height: 70%;
                }

                & > .input-qty {
                    display: flex;
                    flex-direction: row;
                    width: 60%;
                    height: 100%;
                    align-items: flex-start;
                    justify-content: center;
                    align-content: center;
                    gap: 10px;
                    padding-bottom: 10px;

                    & > label{
                        font-size: 14px;
                    }

                & > input{
                    display: flex;
                    height: 2rem;
                    width: 4rem;
                    border-radius: 7px;
                    border: none;
                    background-color: rgb(145, 139, 139);
                    padding: 10px;
                    text-align: center;
                    
                    &::placeholder{
                        font-size: 13px;
                        color: rgb(46, 46, 46);
                    }
                }

             & > button{
                display: flex;
                border: none;
                background-color: rgb(145, 139, 139);
                height: 2rem;
                align-items: center;
                border-radius: 7px;
                font-size: 14px;
                padding: 10px;
                font-weight: 700;
                    
                &:hover{
                    background-color: rgba(255, 255, 255, 0.801);
                }
                    
            }
        }
    }

        & > .confirmation-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            background-color: rgba(222, 14, 14, 0.726);
            margin-top: 3rem;
            height: 7rem;
            width: 13rem;
            z-index: 1;
            border-radius: 10px;
            
            & > .message-holder{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                & > .confirmed{
                display: flex;
                position: absolute;
                visibility: hidden ;
                height: 15rem;
                width: 13rem;
                justify-content: center;
                align-items: center;
                background-color: rgba(128, 128, 128, 0.154);
                border-radius: 20px;
                flex-direction: column;
                z-index: 1;
                color: #000;
                transform: translateY(-7rem);
                box-shadow: 1px 1px 10px rgba(245, 245, 245, 0.27);
                color: white;
                border: 1px solid rgb(4, 229, 4);

                    & > i{
                        display: flex;
                        font-size: 3rem;
                        color: rgb(4, 229, 4);
                    }
                    
                    & > p{
                        font-size: 14px;
                        padding-top: 10px;

                    }

                    & > h5{
                        padding-top: 10px;
                        font-weight: 700;
                        font-size: 1.5rem;
                    }

                    & > button{
                        border-radius: 20px;
                        color: white;
                        background-color:rgb(4, 229, 4);
                        border: none;
                        width: 4rem;
                        font-size: 14px;
                        height: 2rem;
                    }
                }
                
                & > img{
                        display: flex;
                        height: 6rem;
                        position: absolute;
                        transform: translateY(-2.5rem);
                }

                & > h4{
                    display: flex;
                    font-size: 16px;
                    font-weight: 800;
                    color: rgb(255, 255, 255);
                    margin: 0;
                    padding-top: 15px;
                }
            }
            
                & > .button-holder{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    padding-top: 20px;

                    & > button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        font-size: 13px;
                        height: 2rem;
                        width: 4.2rem;
                        padding: 10px;
                        border-radius: 6px;

                        &:nth-child(1){
                            background-color: rgba(245, 245, 245, 0.698);
                            font-weight: 400;
                            color: black;

                            &:hover{
                                transform: scale(1.1);
                            }
                        }

                        &:nth-child(2){                
                            font-weight: 400;
                            background-color: rgb(11, 177, 39);
                            color: whitesmoke;

                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}
