/* *{
    outline: 1px solid white;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(26, 25, 25) 0%, rgba(31,29,30,1) 100%);
    flex-direction: column;
    gap: 3rem;
 }

header {
    display: inline-flex;  
    position: fixed;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
    top: 0;
    z-index: 1;
    background: linear-gradient(to top, rgb(128, 1, 1, 0.9), rgb(36, 0, 0,0.9));    
    color: black;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.703);
    border-radius:  0px 0px 10px 10px;
    transition-duration: 0.1s ;

    & > .container1 > a {
        display: flex;
        padding-left: 2rem;
        justify-content: center;
        height: 10vh;
        align-items: center;
        flex-direction: row;
        text-decoration: none;

            & > h4{
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                color: rgb(225, 222, 222);
                padding-top: 10px;
            }

            & > img{
                display: flex;
                justify-content: center;
                height: 9vh;
                rotate: -15deg;
            }
        }
        
    &:hover{
        height: 11vh;
        box-shadow: 1px 1px 10px red;

        & > .container1 > a{
            display: flex;
            padding-left: 2rem;
            justify-content: center;
            height: 12vh;  
        }
    }
            & > .button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                flex-direction: row;
                padding-right: 10rem;

               
                & > a:nth-child(1) > button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: red;
                    width: 9rem;
                    border-radius: 5px;

                    &:hover{
                        box-shadow: 2px 2px 5px whitesmoke;
                    }

                   
                }

                & > a:nth-child(2) > button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 6rem;

                    &:hover{
                        border-bottom: 2px solid red;
                    }
                }

                & > a {
                    text-decoration: none;

                    & > button{
                        display: flex;
                        border: none;
                        color: white;
                        font-family: "Playwrite DE VA", cursive;
                        font-size: 12px;
                        font-weight: 600;
                        width: 8rem;
                        height: 2.2rem;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        background-color: transparent;

                        & > i{
                            color: whitesmoke;
                            font-size: 20px;
                        }
                    }
            }
    }
}

::-webkit-scrollbar {
    width: 1.1rem; /* Width of the scrollbar */
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(9, 235, 167)0%, rgb(107, 253, 253) 50%,rgb(2, 253, 253)100%);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, rgb(5, 231, 235) 0%, rgba(31,29,30,1) 100%);
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(to top, rgb(103, 103, 104) 0%, rgba(31,29,30,1) 100%);
  }

  .container-top{
    display: flex;
    height: 10vh;
    margin-top: 3rem;
  
    & > h1{
        display: flex;
        padding-top: 4rem;
        color: white;
        font-weight: 900;
    }
}
.section1{
    display: flex;
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, rgb(26, 25, 25) 0%, rgba(31,29,30,1) 100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > .container1{
        display: flex;
        flex-direction: row;
        gap: 10rem;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex-direction: row;

            & > .card{
                display: flex;
                flex-direction: column;
                height: 42rem;
                width: 23rem;
                background: radial-gradient(circle, rgb(70, 69, 69) 0%, rgba(31,29,30,1) 100%);
                padding: 10px;
                box-shadow: 1px 1px 15px rgb(143, 142, 142), -1px -1px 15px rgb(143, 142, 142);
                border: 2px solid rgb(233, 10, 10);
                gap: 10px;

                & > .top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60%;
            
                    & > img{
                        height: 100%;
                        width: 100%;
                           
                    }
                }

                & > .middle{
                    display: flex;
                    justify-content: center;
                    height: 30%;
                    color: white;
                    flex-direction: column;
                    padding-left: 5px;
                    

                    & > p:nth-child(1){
                        font-size: 14px;
                        color: gray;
                    }

                    & > p:nth-child(2){
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid white;
                        width: 2.2rem;
                        font-size: 13px;
                    }
                    & > p:nth-child(3){
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14.5px;
                    }

                    & > p:nth-child(4){
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                        color: gray;
                    }
                }

                & > .bottom{
                    display: flex;
                    align-items: flex-start;
                    justify-content: right;
                    height: 10%;  
                    padding-right: 10px;
                    
                    & > a {
                        text-decoration: none;

                    & > button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        width: 7rem;
                        height: 2.4rem;
                        gap: 7px;
                        border: 2px solid rgb(10, 233, 214);
                        background-color: transparent;
                        border-radius: 10px;
                        color: white;
                        transition: 0.8s ease;
                        font-size: 14px;

                        &:hover{
                            background-color: rgb(10, 233, 214);
                        }
                    }
                }
            }
        }
}
}

/* * {
    outline: 1px solid wheat;
} */